{%extends "registration/base.html"%} 
{% load bootstrap4%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="https://images.pexels.com/photos/1588081/pexels-photo-1588081.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=400"  alt="First slide" height="500vh">
                  <div class="carousel-caption">
                    <h1 style="height:420px;font-weight:bolder;font-family: 'Anton', sans-serif;line-height:20px;letter-spacing:3px;font-size:48px;"></h1>
                  </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://images.pexels.com/photos/1102570/pexels-photo-1102570.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=400"
                  alt="Second slide" height="500vh">
                  <div class="carousel-caption">
                    <h1 style="height:300px;font-weight:bolder;font-family: 'Anton', sans-serif;line-height:20px;letter-spacing:3px;font-size:48px;"></h1>
          
                    </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://images.pexels.com/photos/1027931/pexels-photo-1027931.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=840"
                  alt="Third slide" height="500vh">
                  <div class="carousel-caption">
                    <h1 style="height:300px;font-weight:bolder;font-family: 'Anton', sans-serif;line-height:20px;letter-spacing:3px;font-size:48px;"></h1>
          
                    </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
    <!-- Empty div -->
    <!-- <div class="col-md-4"></div> -->
    <div class="col-md-6">
        {% if form.errors %}
          <p> Some Information Might be Incorrect </p>
        {% endif %}
        <div class="panel panel-default">
  
          <div class="panel-heading">
          <form action="/accounts/register/" method="POST"> 
              {% csrf_token %}
              {% bootstrap_form form layout="inline" %}
              <div class="form-group">
                <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
                <input type="next" name="next" id="" hidden value="{{ '/' }}">
              </div>
  
         <P>Already have an account?

          <a href="/accounts/login">SignIn</a>

         </p>
          </div>
  
        </div>
  
      </div>
      <!-- empty div -->
      <div class="col-md-4"></div>
    </div>

    {% endblock %}
 
  </div>
