{% extends 'base.html' %}
{%load static%}
{% block content %}
{{block.super}}
<!DOCTYPE html>
<HTMl>
    <head>
        <title></title>
    </head>
    
    <body >
                <hr style=" border-top: 10px dotted  #9cede3; margin-left: 10px; margin-top: 15px;">
    
                <br>
                <br>
                <br>
                
            <div class="container">
                <div style="background-image: url(https://t2.ftcdn.net/jpg/02/48/24/39/400_F_248243912_OhEPimhIOoZRYyQE2oOVRsTg3PWO1IVG.jpg);height:350px; width:80%;" >
                    
                        <!-- <img src="/media/ducks.jpeg" alt="" style=" height:350px; width:80%;  background-repeat: no-repeat; background-size: cover;background-position: 100%;margin:30px; overflow: hidden;margin-left: 65px;"> -->
                        <p> dzxfcgv </p>
                </div>
                <div class>

                </div>
                    
                    <div class="row">
                            <div class="col-md-4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet aliquam id diam maecenas. Et odio pellentesque diam volutpat commodo. Duis ut diam quam nulla porttitor massa. Facilisi nullam vehicula ipsum a arcu cursus vitae. Aliquam nulla facilisi cras fermentum odio. Sit amet consectetur adipiscing elit. Neque sodales ut etiam sit amet nisl. Libero nunc consequat interdum varius sit amet mattis vulputate. In nulla posuere sollicitudin aliquam ultrices. Magna fringilla urna porttitor rhoncus dolor purus non. Nibh sit amet commodo nulla facilisi nullam vehicula. Ut placerat orci nulla pellentesque. Quis vel eros donec ac odio tempor orci. Consequat id porta nibh ven
                                        </p> 
                            </div>
                
                            <div class="col-md-4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet aliquam id diam maecenas. Et odio pellentesque diam volutpat commodo. Duis ut diam quam nulla porttitor massa. Facilisi nullam vehicula ipsum a arcu cursus vitae. Aliquam nulla facilisi cras fermentum odio. Sit amet consectetur adipiscing elit. Neque sodales ut etiam sit amet nisl. Libero nunc consequat interdum varius sit amet mattis vulputate. In nulla posuere sollicitudin aliquam ultrices. Magna fringilla urna porttitor rhoncus dolor purus non. Nibh sit amet commodo nulla facilisi nullam vehicula. Ut placerat orci nulla pellentesque. Quis vel eros donec ac odio tempor orci. Consequat id porta nibh ven                       </p> 
                            </div>
                
                            <div class="col-md-4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet aliquam id diam maecenas. Et odio pellentesque diam volutpat commodo. Duis ut diam quam nulla porttitor massa. Facilisi nullam vehicula ipsum a arcu cursus vitae. Aliquam nulla facilisi cras fermentum odio. Sit amet consectetur adipiscing elit. Neque sodales ut etiam sit amet nisl. Libero nunc consequat interdum varius sit amet mattis vulputate. In nulla posuere sollicitudin aliquam ultrices. Magna fringilla urna porttitor rhoncus dolor purus non. Nibh sit amet commodo nulla facilisi nullam vehicula. Ut placerat orci nulla pellentesque. Quis vel eros donec ac odio tempor orci. Consequat id porta nibh ven                      </p> 
                            </div>
                            
                                 
                        </div>
                    </div>
            </div>
               
            
           
           
           
        
    </body>
    {% endblock %}
</HTMl>