<!DOCTYPE html>
<html>

<head>
    <title></title>

</head>

<body>
    <p>Below are some contacts that you can use incase of an emergency. They will guide you through first aid and the
        next steps to take</p>
    <ul>
        <li>AAR Emergency Ambulance in Kenya -2717374</li>


        <li> Avenue Rescue Services in Kenya - 3743858</li>

        <li> Kenya Red Cross Society Ambulance in Kenya - (020)3950000</li>

        <li> Emergency Plus Medical Services in Kenya - 070039539</li>

        <li> Phoenix Aviation Limited Ambulance Service in Kenya -6005837</li>

        <li>Intensive Care Air Ambulance Limited in Kenya - 6004945</li>

        <li>Road Safety Network Ambulance Service in Kenya -2212699</li>

        <li>St John Ambulance in Kenya -2210000</li>

        <li> Ambulance in Kenya - 112/999</li>

        <li>AMREF Flying Doctors Ambulance Service in Kenya -315454/5 </li>
    </ul>

</body>

</html>