{% extends 'base.html' %}
{% block content %}
{{block.super}}


    <div>
        <img src="/media/motherchild.jpeg" alt=""
            style=" height:0%; width:100%;  background-repeat: no-repeat; background-size: cover;background-position: 100%;">

    </div>
    <hr style=" border-top: 10px dotted  #9cede3; margin-left: 10px; margin-top: 15px;">
    
<br>
<br>
<br>

<div class="container">
        <div class="row">
        
                {% for post in posts %}
                <div class="col-md-4">
                    <!-- Card -->
                    <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap" height="200" width="100%">
             <!-- Card content -->
                         <div class="card-body">
                             <h4 class="card-title text-center">{{post.title}}</h4>
                             <p class="card-text">{{post.content|truncatechars:50}}</p>
                             <a href="{% url 'single' post.pk %}">continue reading</a>
                            <!-- Title -->
                        </div>
                    <div class="card-footer">
                        <p class="pull-right clearfix">{{post.published | date:"F d,Y"}}</p>
                        <p class="pull-left">{{post.tag}}</p>
                    </div>
                    </div>
                    <br>
                    <br>
                    <!-- Card -->
    
                </div>
                {% endfor %}
            </div>
    
</div>
   




{% endblock %}