{% extends 'base.html' %}
{% block content %}
{{block.super}}

<hr style=" border-top: 10px dotted  #9cede3; margin-left: 10px; margin-top: 15px;">

<br>
<br>
<br>

<div class="container">
       <div class="row">
              <div class="col-md-6">
                     <!-- Card -->

                     <!-- Card image -->
                     <img class="card-img-top" src="{{posts.image.url}}" alt="Card image cap" height="200px"
                            style=" margin-left: 5px; border-radius:50%; float: left; width:200px; border: 5px solid #dd7373">
                     <br>
                     <!-- Card content -->
                     <br>
                     <br>


                     <span class="card-title text-center" style="text-align:right; font-family: 'Mali', cursive;
                             font-size: 300%; ">{{posts.title}}</span>
                     <p class="" style="font-family: 'Nunito', sans-serif; font-size:15px;">By: <a class=""
                                   href="{%url 'profile' username=posts.profile.username %}">{{posts.profile.username}}</a>
                            {{posts.published | date:"F d,Y"}}</p>

                     <p class="" style="font-family: 'Cookie', cursive; font-size:15px;"></p> <br>


                     <!-- <ul>
                                    <p class="pull-left">{{posts.tag}}</p> <br>
                             </ul>
                              -->

                     <p class="card-text" style="font-family: 'Nunito', sans-serif;">{{posts.content}}</p>

                     <!-- Title -->



              </div>




              <!-- Card -->


              <div class="col-md-6" style="border:4px dotted coral; padding-bottom: 15px;">
                     <ul style="padding-top: 20px">
                            <span>
                                   <textarea name="" id="" cols="30" rows="10"
                                          style="height: 65px; float:left; margin: 0px;"></textarea>

                                   <span> <button type="submit" style="background-color: #dd7373; 
            float:left;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 16px;" onmouseover="this.style.color = '#dd7373';
            this.style.backgroundColor = '#ffffff';
            this.style.border = '1px solid #dd7373'
            " onmouseout="
            this.style.color = '#ffffff';
            this.style.backgroundColor = '#dd7373';
            this.style.border = 'none'
            ">Comment</button>
                                   </span>
                            </span>
                     </ul>

              </div>

       </div>
</div>


{%endblock%}