{% extends 'base.html' %}
{% block content %}
{{block.super}}

<hr style=" border-top: 10px dotted  #9cede3; margin-left: 10px; margin-top: 15px;">

<div class="container" >
        <div class="row">
 <div class="col-md-6">
    <!-- Card -->
                    
                    <!-- Card image -->
                    <img class="card-img-top" src="{{posts.image.url}}" alt="Card image cap" height="200px" style="border-radius:50%;  width:200px; border: 5px solid #dd7373" >
             <!-- Card content -->
                        
                             <span class="card-title text-center" style="text-align: right; font-family: 'Cookie', cursive; font-size: 30px; ">{{posts.title}}</span>
                             <p class="" style="font-family: 'Cookie', cursive; font-size:15px;">By: <a class="" href="{%url 'profile' username=posts.profile.username %}">{{posts.profile.username}}</a> {{posts.published | date:"F d,Y"}}</p>
                             
                             <p class="" style="font-family: 'Cookie', cursive; font-size:15px;"></p> <br>

                             
                             <ul>
                                    <p class="pull-left">{{posts.tag}}</p> <br>
                             </ul>
                             

                             <p class="card-text">{{posts.content}}</p>
                             
                            <!-- Title -->
                        
                    
                      
 </div>
                
                
                   
                    
                    <!-- Card -->
        
               
                <div class="col-md-6" style="border:4px dotted coral; padding-bottom: 15px;">
<ul style="padding-top: 20px">
    <span>
            <textarea name="" id="" cols="30" rows="10" style="height: 65px; float:left; margin: 0px;" ></textarea>    
            
           <span> <button type="submit" style="background-color:#9cede3; 
            float: left;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 16px;">comment</button>
            </span>
    </span>
</ul>

                </div>
          
            </div>
</div>


{%endblock%}